/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/rrfx/styles.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  background: hsl(0 0% 2%);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
/*::-webkit-scrollbar {
  display: none;
}*/
.main-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
h2 {
  padding-bottom: 10px;
}
hr {
  border: solid 0.1px #ffffff50;
  padding: 0;
  margin-bottom: 1px;
  margin-top: 2px;
  width: 100%;
}
.about {
  padding: 10px 0 10px;
}
.narbar-container {
  width: 100%;
}
.navbar-links {
  padding: 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-links a {
  text-decoration: none;
}
p {
  padding: 7.5px 0 7.5px;
}
.discord-container {
  min-height: 300px;
  padding: 5px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: none;
  z-index: 99;
  position: relative;
  overflow: hidden;
}
.discord-container * {
  background-color: transparent;
}
.discord-title {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.discord-description {
  text-align: center;
  font-size: 13px;
  width: 400px;
  padding: 0 10px 20px 10px;
}
.discord-button {
  background-color: #4752c4;
  padding: 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  min-width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.discord-button:hover {
  background-color: #4751c4d5;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
svg {
  padding-right: 10px;
  background-color: #4752c4;
}
.discord-subtitle {
  padding-top: 20px;
  color: #ffffff80;
  font-size: 13px;
}
.disclaimer p {
  font-size: 12px;
  color: #ffffff80;
  text-align: justify;
}

