* {
  font-family: monospace;
  box-sizing: border-box;
}
body {
  padding: 0 5px;
  max-width: 1000px;
}
hr {
  border: solid 0.1px #808080;
}
button {
  cursor: pointer;
}
input,
button,
textarea {
  width: 100%;
  border: solid 0.1px #cfcfcf;
  border-radius: 5px;
  padding: 5px;
}
textarea {
  min-height: 60vh;
  resize: vertical;
}