* {
  font-family: monospace;
  box-sizing: border-box;
}
body {
  max-width: 800px;
}
img {
  width: 100%;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
input,
button,
textarea {
  width: 100%;
}
textarea {
  min-height: 60vh;
  resize: vertical;
}
