* {
  font-family: monospace;
  box-sizing: border-box;
}
body {
  max-width: 1000px;
}
h1 a{
  color: #000;
}
input,
button,
textarea {
  width: 100%;
}
textarea {
  min-height: 50vh;
  resize: vertical;
}