@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: 'Arimo', sans-serif;
font-family: 'Playfair Display', serif;

*/
*{
  padding: 0;
  margin: 0;
  filter: grayscale(1);
  box-sizing: border-box;
}
body {
  padding: 20px 20px 20px 25px;
  max-width: 700px;
  font-family: 'Playfair Display', serif;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
img{
  width: 100%;
  padding: 20px 0 10px 0;
}
p{
  padding: 7.5px 0 7.5px 0;
}
hr {
  border: 0.01px solid #00000025;
}
h2{
  padding: 10px 0 5px 0;
}
.site-nav .logo {
  font-size: 30px;
}
.main-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 10px;
  max-width: 700px;
  padding: 10px 0 15px 0;
}
.post-snippet {
  padding: 5px 0 5px 0;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.post-snippet h3 {
  text-decoration: underline;
}
footer{
  padding-top: 10px;
}