* {
  font-family: monospace;
  box-sizing: border-box;
  color: #000;
}
body {
  padding: 0px 15px 10px 15px;
  max-width: 800px;
}
h1 a {
  color: #000;
  text-decoration: none;
}
img {
  width: 100%;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
hr {
  border: solid 0.1px #cfcfcf;
}
button {
  cursor: pointer;
}
input,
button,
textarea {
  width: 100%;
  border: solid 0.1px #cfcfcf;
  border-radius: 5px;
  padding: 10px;
}
textarea {
  min-height: 60vh;
  resize: vertical;
}
