@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  color: #000;
}
body {
  max-width: 600px;
  padding: 40px 20px;
  margin: 0 auto;
}
img {
  width: 100%;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
