* {
  font-family: monospace;
  box-sizing: border-box;
  color: #000;
}
body {
  max-width: 1000px;
}
img {
  width: 100%;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}